* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* The base part*/
.box_title {
  margin: 0px auto;
  background: #7cc5e9;
  padding: 20px;
  text-align: center;
  font-weight: 500;
    font-size: 30px;
  color: #fff;
  font-family: Ubuntu;

  width: 300px;
  position: absolute;
  /*top: 120px;*/
  border-radius: 20px;
  text-transform: uppercase;
}

.box_sum {
  margin: 0px auto;
  background: #f4e141;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #3e668a;
  font-family: Ubuntu;

  width: 800px;
  position: relative;
  top: 200px;
  border-radius: 50px;
  left: -250px;
}

.box_sum1 {
  margin: 0px auto;
  background: #f4e141;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #3e668a;
  font-family: Ubuntu;

  width: 800px;
  position: relative;
    top: 250px;
  border-radius: 50px;
  left: -250px;
}

.box_sum2 {
  margin: 0px auto;
  background: #f4e141;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #3e668a;
  font-family: Ubuntu;

  width: 800px;
  position: relative;
  top: 300px;
  border-radius: 50px;
  left: -250px;
}

.box_sum3 {
  margin: 0px auto;
  background: #f4e141;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  color: #3e668a;
  font-family: Ubuntu;

  width: 800px;
  position: relative;
  top: 350px;
  border-radius: 50px;
  left: -250px;
}


/* The table part */
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 30px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #f4e141;
  font-size: 16px;
}
table tbody tr {
  height: 48px;
  border-bottom: 1px solid #E3F1D5;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}

@media screen and (max-width: 35.5em) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "Code";
  }
  table tbody tr td:nth-child(2):before {
    content: "Stock";
  }
  table tbody tr td:nth-child(3):before {
    content: "Cap";
  }
  table tbody tr td:nth-child(4):before {
    content: "Inch";
  }
  table tbody tr td:nth-child(5):before {
    content: "Box Type";
  }
}
body {
  background: #9BC86A;
  font: 400 14px 'Calibri','Arial';
  padding: 20px;
}

blockquote {
  color: white;
  text-align: center;
}


a {
  color: #3e668a;
  padding: 1em 1.5em;
  position: relative;
  /*text-decoration: none;*/
  /*text-transform: uppercase;*/
}

a:hover {
  cursor: pointer;
}


